/* NavBar */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  font-size: 40px;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

/* Contact Form */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --light: #d0d1d3;
  --SiteBlack: #342d2f;
  --green: #21ce99;
}

h1 {
  color: var(--green);
}

form {
  margin-top: 20px;
  background: white;
}

.formRow {
  margin: 10px 0 20px 0;
}

.formInput {
  padding: 15px 10px;
  background-color: white;
  box-shadow: 0 0 0 2px var(--green);
  border: none;
  color: var(--green);
}

.formInput:focus {
  background-color: var(--SiteBlack);
  outline: none;
  box-shadow: 0 0 0 2px var(--green);
  color: var(--light);
}

.formInput::placeholder {
  color: var(--green);
  opacity: 1;
}

.formInput:focus::placeholder {
  color: var(--light);
  opacity: 1;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

#notifyToast {
  color: #fff;
  border-radius: 6px;
  width: 200px;
  margin-left: 75px;
  background-color: var(--green);
}

.submit-btn {
  background-color: white;
  color: var(--green) !important;
  padding: 15px 50px;
  border: 2px solid var(--green);
  border-radius: 10px;
  margin-bottom: 25px;
}

.submit-btn:hover {
  background-color: var(--green);
  color: var(--dark) !important;
  border: 2px solid var(--green);
}

.submit-btn:disabled:hover {
  background-color: var(--SiteBlack);
  color: var(--green) !important;
  cursor: wait;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}

td, th {
  padding: 0 15px;
  font-size: medium;
}

.ContactForm {
  width: device-width;
  text-align: center;

}

p.contactForm {
  text-align: center;
}

#icon i {
  font-size: 10em;
  color: black;
}

#icon::before {
  font-size: 5em;
}

.col-med-3 div {
  align-self: center;
}

.headshot {
  width: 40rem;
  height: auto;
  border-radius: 50%;
  border: 4px white solid;
  /* position: relative; */
  /* margin-top: -100px; */
}

.aboutme {
  padding: 10px 10px 10px 10px;
}
.headshot-aboutme {
  padding: 40px 40px 40px 40px;

}

@media screen and (max-width: 1100px) {
  .headshot {
    width: 25rem;
    height: auto;

  }
}

@media screen and (max-width: 925px) {
  .headshot {
    width: 17rem;
    height: auto;
  }
}

@media screen and (max-width: 675px) {
  .headshot {
    width: 15rem;
    height: auto;
  }
}

@media screen and (max-width: 580px) {
  #icon i {
    font-size: 90px;
    color: black;
  },
  .headshot {
    width: 11rem;
    height: auto;
  }
}

@media screen and (max-width: 575px) {
  #icon i {
    font-size: 80px;
    color: black;
  }
  .headshot {
    width: 10rem;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  #icon i {
    font-size: 70px;
    color: black;
  }
  .headshot {
    width: 16rem;
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  #icon i {
    font-size: 60px;
    color: black;
  }
  .headshot {
    padding: 10px 10px;
    width: 15rem;
    height: auto;
  }

}

@media screen and (max-width: 330px) {
  #icon i {
    font-size: 50px;
    color: black;
  }
  .headshot {
    width: 14rem;
    height: auto;
  }
}

@media screen and (max-width: 280px) {
  #icon i {
    font-size: 40px;
    color: black;
  }
  .headshot {
    width: 13rem;
    height: auto;
  }
}

@media screen and (max-width: 275px) {
  #icon i {
    font-size: 30px;
    color: black;
  }
  .headshot {
    width: 12rem;
    height: auto;
  }
}

@media screen and (max-width: 250px) {
  #icon i {
    font-size: 20px;
    color: black;
  }
  .headshot {
    width: 11rem;
    height: auto;
  }
}

.row {
  display: flex;
  justify-content: center;
}

.cv {
  padding-left: 50px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.inline {
  display: inline;
}